@import 'functions.scss';
@import 'extendables.scss';


/* UI Consistency */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.form-item label {
  color: #00698C;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 0.15em;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

#edit-mobiil-id-auth,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 6px;
  background: #0085b1; /* Old browsers */
  background: -moz-linear-gradient(top,  #0085b1 0%, #006a8e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0085b1), color-stop(100%,#006a8e)); /* Chrome,Safari4+ */
  background: linear-gradient(to bottom,  #0085b1 0%,#006a8e 100%); /* W3C */
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085b1', endColorstr='#006a8e',GradientType=0 ); /* IE6-9 */
  border: 0;
  box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.13), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;
  font: 14px/20px $font_museo700;
  height: 17px;
  line-height: 17px;
  margin: 0 10px 0 0;
  overflow: visible;
  padding: 10px 15px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  width: auto;
}

#edit-mobiil-id-auth:hover,
#edit-mobiil-id-auth:focus,
button:hover,
button:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  background: #0085b2; /* Old browsers */
  background: -moz-linear-gradient(top,  #0085b2 0%, #0085b2 26%, #007ca5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0085b2), color-stop(26%,#0085b2), color-stop(100%,#007ca5)); /* Chrome,Safari4+ */
  background: linear-gradient(to bottom,  #0085b2 0%,#0085b2 26%,#007ca5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085b2', endColorstr='#007ca5',GradientType=0 ); /* IE6-9 */
  box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.13), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.22);
}

button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background: #00698c; /* Old browsers */
  background: -moz-linear-gradient(top,  #00698c 0%, #004d67 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00698c), color-stop(100%,#004d67)); /* Chrome,Safari4+ */
  background: linear-gradient(to bottom,  #00698c 0%,#004d67 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00698c', endColorstr='#004d67',GradientType=0 ); /* IE6-9 */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

button {
  *padding-top: 1px; /* IE7 */
  *padding-bottom: 1px; /* IE7 */
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid;
  border-color: #cccccc ;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
  font-family: $font_default;
  height: 3.3em;
}

/* Separate rule for Firefox. Cannot stack with WebKit's. */
input.placeholder,
textarea.placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

::-webkit-input-placeholder {
  color: #888;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  border-color: #0081AC;
  -webkit-box-shadow: #0081AC 0 0 7px, inset 0 0 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: #0081AC 0 0 7px, inset 0 0 20px 0 rgba(0, 0, 0, 0.15);
  z-index: 1; // For Opera.

  &.error {
    -webkit-box-shadow: red 0 0 7px, inset 0 0 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: red 0 0 7px, inset 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@-moz-document url-prefix() {
  input[type="radio"]:focus {
    outline: 1px dotted;
  }
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(../img/10-global/select-arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

.placeholder,
.ie6-input-disabled,
.ie6-button-disabled {
  color: #888;
}

.ie6-input-disabled {
  background: #eee;
}
