@import 'functions.scss';
$layout: print;
@import 'extendables.scss';
@import 'includes/**/*';

.region-content .field-name-body a:after {
  content: " (" attr(href) ") ";
  font-size: 11px;
  font-weight: normal;
  color: #555555;
}
.page-contact .field-name-body a:after,
.front .region-content .field-name-body a:after,
.region-content .field-name-body a[href^="mailto"]:after
{
  display: none;
  content: "";
}

ul {
  list-style: bullet outside !important;
  padding-left: 1em !important;

  li {
    list-style: bullet outside !important;
    padding-left: 0 !important;
    background: none !important;
  }
}


// Hide most of the stuff.
.not-front {
  #admin-menu,
  #zone-portal-navigation-wrapper,
  #block-vp-menu-second-level-menu-content,
  .block-main-menu,
  #zone-top-wrapper,
  #region-sidebar-first,
  #region-sidebar-second,
  #section-footer,
  .menu-l2-popup,
  .block-delta-blocks-breadcrumb,
  .block-addthis-custom,
  .block-delta-blocks-tabs,
  .all-news,
  .static-join-in,
  .field-name-field-gallery,
  .block-views-28b60dac48d416a8e6750a35cdd59247, // Related news.
  .view-display-id-important_topics_slideshow_block,
  .region-page-bottom {
    display: none !important;
  }
}

//Show more stuff on frontpage.
.front {
  #admin-menu,
  #zone-portal-navigation-wrapper,
  #block-vp-menu-second-level-menu-content,
  .block-main-menu,
  #section-footer,
  .menu-l2-popup,
  .block-delta-blocks-breadcrumb,
  .region-page-bottom {
    display: none !important;
  }

  #zone-preface-wrapper,
  #zone-preface {
    display: block !important;
  }

  .zone-content .block {
    display: block;
    height: auto !important;
  }

  .block {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .block * {
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .region-page-bottom,
  .static-fp-tabs a,
  #flexslider-important-topics-slideshow-tablet,
  .flex-control-nav,
  .flex-control-nav a {
    display: none !important;
  }

  .flexslider_views_slideshow_top_news_tabs-top_news_tabs_block,
  .flexslider-views-slideshow-main-frame,
  .view-important-topics-slideshow .slides{
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    transform: none !important;
  }

  .flexslider-views-slideshow-main-frame-row,
  #flexslider-important-topics-slideshow-desktop .row {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    float: none !important;
    transform: none !important;
  }

  .view-important-topics-slideshow p br {
    display: none;
  }

  .flexslider-views-slideshow-main-frame-row.clone,
  #flexslider-important-topics-slideshow-desktop .row.clone{
    display: none !important;
  }

  .tabs ul {
    display: none;
  }

  h2 {
    font-size: 16px !important;
    line-height: 1.2em !important;
  }

}

// General reset for all tags.
* {
  background: transparent !important;
  box-shadow: none !important;
  color: #000 !important;
  //font-size: 10.5pt !important;
  //line-height: 1.3 !important;
  text-shadow: none !important;
}
// Need to override some styles inside the html.
body .page .section-header,
body .page .section-content {
  background: transparent !important;
}

body {
  margin: 0 2em 1em 1em;
}

.logo-img #logo,
.block-delta-blocks-logo img {
  height: 78pt !important;
  width: auto !important;
}

.section-header {
  min-height: 0;
}

.zone-wrapper,
.zone {
  //border: 1px solid black;
}

.section,
.zone-wrapper,
.zone,
.region,
.region-inner {
  margin: 0 !important;
  min-height: 0 !important;
  padding: 0 !important;
  position: static !important;
  width: auto !important;
}

.block-delta-blocks-logo {
  padding-left: 0;
}

h1 {
  //font-size: 15pt !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
}

.node {
  h2 {
    //font-size: 13pt !important;
    //margin-top: 25px !important;
  }

  p a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
}

img,
.views-row {
  page-break-inside: avoid;
}


/*Contact*/
.page-contact #zone-top-wrapper {
  display: block !important;
}
.page-contact #zone-top .block.block-breadcrumb {
  display: none !important;
}
.page-contact .location-wrap div {
  display: none;
}
.page-contact .location-wrap div.textbox {
  display: block;
}