


@if $layout == global {
  .view-logo-file {
    background: url(../img/10-global/files-search-top-shadow.png) no-repeat center top;
    margin-top: 25px;
    padding-top: 7px;

    h2,
    h3,
    h4 {
      text-shadow: none;
    }

    h2 {
      margin: 0 0 10px;
      padding: 25px 0 5px 0;
      border-bottom: 1px dashed #9e9e9e;
      font-size: 20px;
      font-weight: 700;
      color: #666;
    }

    h2,
    .views-row {
      border-bottom: 1px dashed #9e9e9e;
    }

    .item-trigger-title {
      color: #006488;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      margin: 8px 0 28px 0;
      padding-left: 17px;
      position: relative;

      &:before {
        background: url(../img/10-global/icon-blue-arrow.png) 0 100%;
        content: "";
        display: block;
        height: 12px;
        left: 0;
        margin: 0 4px 0 0;
        position: absolute;
        top: 4px;
        vertical-align: middle;
        width: 11px;

        // Active
        //background:url(../img/icon-blue-arrow-d.png) no-repeat center top;
      }
    }

    .views-row {
      padding: 20px 0 30px;
      margin-bottom: 10px;
    }

    .views-field-title {
      color:  #006488;
      cursor: pointer;
      font-size: 16px;
      margin: 28px 0;
    }

    .item-content {
      margin: 15px 0;
    }

    select {
      width: 100%;
      margin-bottom: 15px;
    }

    .logo-wrapper {
      margin-bottom: 15px;
      display: table;

      > div {
        display: table-row;

        > div {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    // Grey box.
    .item-content .entity-field-collection-item {
      background: #f7f7f7;
      border-radius: 5px;
      //margin: 20px 0;
      padding: 10px 20px;
      position: relative;

      h3 {
        color: #006488;
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
        margin: 10px 0 4px 0;
      }

      .field-group-div .field-group-div {
        border-top: 1px solid #d9d9d9;
        margin: 10px 0;

        h3 {
          color: #a0a0a0;
          font-family: $font_default;
          font-weight: bold;
          font-size: 14px;
        }
      }

      &:before {
        background: none;
        border-bottom: 8px solid #f7f7f7;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        content: '';
        display: block;
        height: 0;
        left: 50%;
        margin: 0 0 0 -8px;
        position: absolute;
        top: -8px;
        width: 0;
      }

      .field-label {
        color: #333;
        display: block;
        float: left;
        font-size: 12px;
        //font-weight: bold;
        font-weight: normal;
        margin: 6px 0 0 0;
        padding-right: 5px;
        text-align: right;
        width: 65px;
      }

      .field-items {
        @extend %sidefloat;
        float: none;

        .field-item {
          display: inline-block;
          margin: 5px 10px 5px 0;
        }
      }

      // Logo file button.s
      .sml-btn {
        -webkit-appearance: none;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border-radius: 5px;
        background: #0085b1;
        background: -moz-linear-gradient(top, #0085b1 0%, #006a8e 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0085b1), color-stop(100%, #006a8e));
        background: linear, to bottom, #0085b1 0%, #006a8e 100%;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0085b1', endColorstr='#006a8e',GradientType=0 );
        border: 0;
        box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.13), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2);
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        height: 15px;
        line-height: 15px;
        overflow: visible;
        padding: 3px 10px;
        text-shadow:none;
        width: auto;

        &:hover,
        &:focus {
          background: #0085b2;
          background: -moz-linear-gradient(top, #0085b2 0%, #0085b2 26%, #007ca5 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0085b2), color-stop(26%, #0085b2), color-stop(100%, #007ca5));
          background: linear, to bottom, #0085b2 0%, #0085b2 26%, #007ca5 100%;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0085b2', endColorstr='#007ca5',GradientType=0 );
          box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.13), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.22);
        }

        &:active {
          background: #00698c;
          background: -moz-linear-gradient(top, #00698c 0%, #004d67 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00698c), color-stop(100%, #004d67));
          background: linear, to bottom, #00698c 0%, #004d67 100%;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00698c', endColorstr='#004d67',GradientType=0 );
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
        }
      }
    }

    .closed {
      &.views-row {
        padding: 0 0 11px 0;
      }

      .item-trigger-title {
        margin-top: 28px;
      }

      .logo-wrapper {
        margin-bottom: 0;
      }

      .extra-info,
      select,
      .item-content .entity-field-collection-item {
        display: none;
      }

      .item-trigger-title {
        &:before {
          background-position: 0 0;
        }
      }
    }
  }
}



@if $layout == default {
  .view-logo-file {

    .item-trigger {
      float:left;
      width: 31%;
    }

    .item-content {
      float: left;
      margin: 0 0 0 3.5%;
      width: 31%;
    }

    .logo-wrapper {
      > div {
        > div {
          height: 82px;
        }
      }
    }
  }
}



@if $layout == desktop {
  .view-logo-file {
    background-image: url(../img/40-desktop/files-search-top-shadow.png);
  }
}



@if $layout == high_contrast {
  .view-logo-file {
    .item-trigger-title {
      &:before {
        background-color: transparent !important;
        background-image: url(../img/10-global/icon-blue-arrow-high-contrast.png) !important;
      }
    }
  }
}
