


@if $layout == global {
  .bottom-download-bar {
    background: #f7f7f7;
    border-top: 1px solid #fff;
    bottom: 0;
    box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.15);
    left: 0;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 2;

    .inner-wrapper {
      margin: auto;
      max-width: 1000px;
    }

    .bar-trigger {
    }

    .bar-title {
      float: left;
      cursor: pointer;
      font-size: 20px;
      color:  #666;
      font-family: $font_museo300;
      font-weight: bold;
      line-height: 100%;
      margin: 3px 0 0 10px;

      .icon-dl-list {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 7px 0 0;
        background: url(../img/10-global/icon-dl-bar.png) no-repeat 0 100%;
      }
    }

    &.opened .bar-title .icon-dl-list {
      background-position: 0 0;
    }

    .bar-actions {
      float: right;

      a {
        display: inline-block;
        margin:  0 0 0 10px;

        &.reset-list {
          color:  #666;
          font-family: $font_museo300;
          font-size: 16px;
          text-decoration: underline;
        }
      }
    }

    .files-container {
      display: none;
      max-height: 260px;
      overflow: auto;
      -webkit-transition:  all 300ms ease-out;
      -moz-transition:  all 300ms ease-out;
      -ms-transition:  all 300ms ease-out;
      -o-transition:  all 300ms ease-out;
      transition:  all 300ms ease-out;
    }

    &.opened .files-container {
      display: block;
      margin: 10px 0;
    }

    .files-group {
      padding: 8px 15px 10px;
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
    }

    .item-trigger a {
      color: #006488;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;

      .icon-arrow {
        width: 11px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 4px 0 0;
        background: url(../img/10-global/icon-blue-arrow.png) no-repeat;
      }
    }

    .files-group.opened .item-trigger .icon-arrow {
      background-position: 0 100%;
    }

    .files-list {
      margin: 5px 0 20px;
      display: none;
    }

    .files-group.opened .files-list {
      display: block;
    }

    .file-item {
      padding: 5px 0;
      margin: 0 10px;
      border-bottom: 1px solid #d9d9d9;

      p {
        float: left;
        margin: 0 5px 0 0;
        font-size: 12px;
      }

      .file-thumb {
        min-width: 80px;
        margin: 0 5px 0 0;
      }

      .remove-file {
        background-image: url(../img/10-global/icon-red-cross.png);
        direction: ltr;
        float: right;
        height: 11px;
        overflow: hidden;
        text-indent: -10000px;
        width: 11px;
      }
    }

    .bottom-download-bar-loader {
      background-image: url(/misc/throbber.gif);
      background-position: 0 100%;
      display: inline-block;
      height: 20px;
      margin: 0 0 0 5px;
      position: relative;
      top: 1px;
      vertical-align: middle;
      width: 15px;

      &.element-hidden {
        display: none;
      }
    }

    .btn {
      -webkit-appearance: none;
      -moz-background-clip: padding;
      -webkit-background-clip: padding;
      background-clip: padding-box;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      border-radius: 5px;
      display: inline-block;
      background: #0085b1;
      background: -moz-linear-gradient(top, #0085b1 0%, #006a8e 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0085b1), color-stop(100%, #006a8e));
      background: linear, to bottom, #0085b1 0%, #006a8e 100%;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0085b1', endColorstr='#006a8e',GradientType=0 );
      border: 0;
      box-shadow: inset 0 2px 1px 0 rgba(255, 255, 255, 0.13), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
      color: #fff;
      font-family: $font_museo300;
      font-weight:bold;
      font-size:18px;
      margin: 5px 7px 5px 0;
      overflow: visible;
      padding: 3px 10px;
      text-shadow:none;
      width: auto;

      .icon {
        background-image: url(../img/10-global/icon-dl-arrow.png);
        display: inline-block;
        height: 29px;
        margin:0 3px 0 0;
        vertical-align:middle;
        width: 20px;
      }
    }
  }
}



@if $layout == high_contrast {
  .bottom-download-bar {
    background: #000 !important;

    .bar-title .icon-dl-list {
      background-image: url(../img/10-global/icon-dl-bar-high-contrast.png) !important;
    }

    .bar-title,
    .item-trigger h3 {
      color: yellow !important;
    }

    .item-trigger h3 {
      .icon-arrow {
        background-image: url(../img/10-global/icon-blue-arrow-high-contrast.png) !important;
      }
    }

    .file-item {
      .remove-file {
        background-image: url(../img/10-global/icon-red-cross-high-contrast.png) !important;
      }
    }

    .btn {
      background: yellow !important;
      color: #000 !important;
      text-decoration: none !important;

      .icon {
        background-image: url(../img/10-global/icon-dl-arrow-high-contrast.png) !important;
      }
      /*
      background: -moz-linear-gradient(top, #0085b1 0%, #006a8e 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0085b1), color-stop(100%, #006a8e));
      background: linear, to bottom, #0085b1 0%, #006a8e 100%;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0085b1', endColorstr='#006a8e',GradientType=0 );
*/  }

  }
}
