


@if $layout == global {
  article footer.submitted {
    color: #ffffff;
    margin-bottom: 1em;

    span[property="dc:date dc:created"], .changed-date {
      color: #000;
      font-size: 0.9em;
      position: relative;
      z-index: 9;
    }
  }
  
  .submitted .username {
    display: none;
  }
}



@if $layout == default {
}



@if $layout == desktop {
}
