


@if $layout == global {
  // Sidebar.
  .block--exp-contact-contact-page {
    @extend %extendable-taxonomy-filter;
  }

  .view-display-id-contact_page {
    table {
      @extend %table-reset;
      @extend %extendable-table;

      margin-bottom: 72px;
    }

    td.views-field-title {
      a {
        color: $color-text;
        display: block;
        font-weight: bold;
        text-decoration: none;

        &:focus,
        &:hover {
          color: $color-text-main-blue;
        }
      }
    }

    .modal-tr {
      display: none;
    }

    // Table title and description.
    & {
      caption {
        text-align:  left;
      }

      h2 {
        color: $color-text-main-blue;
        text-shadow: none;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 44px;
      }
    }

    h2,
    h3,
    h4,
    h5 {
      margin: 0 0 20px 0;
    }

    // Widths so multiple tables on same page align nicely.
    & {
      .views-field-title {
        width: 130px;
      }

      .views-field-field-contact-phone-nr {
        width: 90px;
      }

      .views-field-field-contact-e-mail {
        width: 200px;
      }
    }
    @media all and (max-width: $mobile-view-max-width) {
      thead, .field-type-image, .group_education, .group_the_functions {
        display: none;
      }
      h3, .group_main_custom, .group_contact {
        margin: 0;
      }
      .field-type-email .field-items{
        clear: both;
      }
      .modal-tr {
        display: table-row;
      }
      .views-field-field-position, .views-field-field-contact-phone-nr, .views-field-field-contact-e-mail, .group-main, .group_other {
        display: none;
      }
      .views-field-title {
        border: 0;
        padding-top: 10px;
        padding-bottom: 0;
      }
      .modal-tr .odd, .modal-tr .even{
        display: block;
      }
      table td {
        border-right: 0;
      }
    }
  }



  //=== DIALOG ===//

  .ui-dialog-content-contact {
    @extend %extendable-contact;

    .field-name-field-profile-photo {
      margin-bottom: 30px;
    }

    .title {
      padding-top: 6px;
    }
  }
}



@if $layout == default {
  .page-contact-search .region-sidebar-first .block {
    padding: 15px 20px 16px 20px;
  }

  .ui-dialog-content-contact {
    .field-group-format {
      margin-left: 180px;
    }

    .field-name-field-profile-photo {
      float: left;
      margin-left: 0;
      margin-bottom: 0;
    }

    a {
      color: $color-link;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $color-link-hover;
      }
    }
  }
}
