// LAYOUT 3 - MINISTRID - TEINE BLOKK

@if $layout == editor or
    $layout == global {
  .node .layout-3 {
    margin-bottom: 45px;

    h2 {
      padding-bottom: 25px;
    }

    h3 {
      color: #000;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
    }

    // For legacy support. Use .static-list-2column-dotter-border in html instead.
    ul {
      list-style-type: none;

      li {
        padding: 20px 15px 15px 0px;
        background: none;
        position: relative;

        &:before {
          @include list-lines;
        }
      }

      p {
        margin: 0;
      }

      span,
      em {
        color: #006699;
        font-style: normal;
        font-weight: 600;
      }
    }

    &:before {
      background-image: none;
    }

    &:after  {
      background-image: none;
    }
  }
}



@if $layout == editor or
    $layout == desktop {
  .node .layout-3 {
    margin-bottom: 45px;
    padding-bottom: 0;
    padding-top: 10px;
    position: relative;

    h3 {
      margin-bottom: 30px;
    }

    .main {
      margin-right: 0;
      overflow: hidden;
    }

    // Separator for left and right column. If you remove the left column,
    // separator will also be removed.
    .aside {
      float: left;
      overflow: hidden;
      padding-right: 60px;
      width: 265px;

      &:before,
      &:after {
        bottom: 0;
        content: "";
        left: 29.3%;
        position: absolute;
        top: 0;
        width: 22px;
      }

      &:before {
        background: url(../img/10-global/subject-related-news-column-separator-top.png) 0 0 no-repeat;
        z-index: 1;
      }

      &:after {
        background: url(../img/10-global/view-id-top_news_tabs--separator-overlay-bottom.png) 0 100% no-repeat;
        z-index: 2;
      }
    }

    ul {
      float: left;
      margin-right: 40px;
      width: 262px;
    }
  }
}
