// A 2 column list with title, content and dotted border in between.
//
// EXAMPLE:
//
// <div class="static-list-2column-dotted-border clearfix">
//   <ul class="first">
//     <li>
//       <p>Kaitseminister <em>vastutab riigikaitse korraldamise eest Eesti
//       Vabariigis.</em></p>
//     </li>
//     <li>
//       <p>Kaitseminister <em>juhib kaitseministeeriumi tööd ja otsustab selle
//       valitsemisalasse kuuluvaid küsimusi.</em> Lisaks annab minister
//       Vabariigi Valitsusele aru kaitseministeeriumi tegevusest ja esitab
//       ettepanekuid ministeeriumi valitsemisala puudutavate küsimuste
//       otsustamiseks.</p>
//     </li>
//     <li>
//        <p>Kaitseminister nimetab ametisse väeliikide ülemad ning <em>teeb
//        valitsusele ettepaneku Kaitseväe juhataja ja Kaitseväe peastaabi ülema
//        ametisse nimetamiseks</em> ja ametist vabastamiseks.</p>
//      </li>
//   </ul>
//   <ul class="last">
//     <li>
//       <p>Kaitseminister <em>kinnitab ametisse ministeeriumi valitsemisalas
//       olevate valitsusasutuste juhid</em> ning ministeeriumi asekantslerid ja
//       osakondade juhatajad.</p>
//     </li>
//     <li>
//       <p>Kaitseminister <em>esitab valitsusele ettepanekuid ministeeriumi
//       eelarve ning vajadusel lisaeelarve kohta.</em> Ühtlasi otsustab ta
//       eelarvevahendite kasutamise ning jälgib eelarve täitmist. Minister
//       kinnitab riigieelarvest lähtudes ka ministeeriumi valitsemisalas
//       olevate riigiasutuste eelarved.</p>
//     </li>
//     <li><p>Kaitseminister <em>otsustab ministeeriumi hallatavate
//     riigiasutuste moodustamise</em> ja kinnitab nende põhimäärused,
//     struktuuri ja töökorralduse.</p></li>
//   </ul>
// </div>



@if $layout == editor or
    $layout == global {
  .node {
    .static-list-2column-dotted-border {
      margin-bottom: 18px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
          padding: 20px 15px 15px 0px;
          background: none;
          position: relative;

          &:before {
             @include list-lines;
          }
        }

        p {
          margin: 0;
        }

        em {
          color: #006699;
          font-style: normal;
          font-weight: 600;
        }
      }
    }

    .layout-3 .static-list-2column-dotted-border {
      margin-bottom: 0;

      ul {
        margin-right: 0;
        width: 100%;
      }
    }
  }
}



@if $layout == editor or
    $layout == default {
  .node {
    .static-list-2column-dotted-border {
      ul {
        float: left;
        margin-right: 7%;
        width: 43%;
      }
    }

    .layout-3 .static-list-2column-dotted-border {
      ul {
        margin-right: 7%;
        width: 43%;
      }
    }
  }
}
