


@if $layout == editor or
    $layout == global {
  .static-fp-block-minister {
    font-size: 11px;
    line-height: 15px;
    padding: 6px 0;


    .editor & {
      background: #f6f4ef;
      padding: 18px;
      position: relative;
      width: 240px;

      .tabs {
        @extend %frontpage-content-block-tabs;
      }
    }

    .image {
      border-radius: 5px;
      border: 4px solid #fff;
      margin: 0 -4px 19px -4px;
    }

    img {
      border-radius: 3px;
      height: auto;
      width: 100%;
    }

    h2 {
      font-size: 15px;
      line-height: 15px;
      margin-bottom: 8px;

      a {
        text-shadow: none;
      }
    }
  }
}
