

$static_module_3_2_desktop_col_width: 297px;
$static_module_3_2_col_padding_left: 30px;
$static_module_3_2_col_padding_right: 30px;



@if $layout == editor or
    $layout == global {
  .static-module-3-2 {
    @extend %clearfix;
    @extend %horizontal-ruler-global;
    padding-bottom: 30px;
    padding-top: 50px;

    h2 {
      @include fontSize(20px);
    }

    h3 {
      @include fontSize(16px);
      margin-bottom: 2px;
    }

    // Real columns
    .col {
      background-color: #f8f8f8;
      border-radius: 3px;
      margin-bottom: 20px;
      padding-bottom: 5px;
      padding-left: $static_module_3_2_col_padding_left;
      padding-right: $static_module_3_2_col_padding_right;
      padding-top: 30px;

      &.col-1 {
        margin-top: 20px;
      }
    }

    .image {
      @include image-class-reset;
    }
  }
}



@if $layout == editor {
  .static-module-3-2 {
    @extend %horizontal-ruler-default;

    .editor & {
      width: 930px;
    }
  }
}



@if $layout == editor or
    $layout == desktop {
  .static-module-3-2 {
    // BEGIN: Make columns look equal height.
      padding-bottom: 60px;
      padding-top: 38px;

      .col:before {
        background-color: #f8f8f8;
        border-radius: 3px;
        bottom: 40px;
        content: "";
        position: absolute;
        top: 85px;
        width: $static_module_3_2_desktop_col_width;
        z-index: -1;
      }

      .col-1:before {
        left: 0;
      }

      .col-2:before {
        left: $static_module_3_2_desktop_col_width + 20;
        width: $static_module_3_2_desktop_col_width - 1; // For equal 20px solumn spacing.
      }

      .col-3:before {
        right: 0;
      }
    // END: Make columns look equal height.

    // Real columns
    .col {
      background-color: transparent;
      float: left;
      margin-bottom: 0;
      margin-right: 18px;
      padding-top: 50px;
      width: $static_module_3_2_desktop_col_width - $static_module_3_2_col_padding_left - $static_module_3_2_col_padding_right;

      &.col-1 {
        margin-top: 0;
      }

      &.col-2 {
        width: $static_module_3_2_desktop_col_width - $static_module_3_2_col_padding_left - $static_module_3_2_col_padding_right - 1; // For equal 20px solumn spacing.
      }

      &.last {
        margin-right: 0;
      }
    }
  }
}
