/**
 * @file
 * Node styles.
 *
 * Path: sass\includes\04-node.scss
 * Because node can be used in views and thus can appear in any region, this
 * file is in the includes root folder.
 */
/**
 * @file
 * Horizontal spacer.
 */
/**
  * Placeholder selectors
  *
  * These need to be below the rest of the code as the real css will be replaced
  * there thus overwriting would not work.
  */
.matsoo-clearfix:before, .matsoo-clearfix:after {
  content: "";
  display: table; }
.matsoo-clearfix:after {
  clear: both; }
.matsoo-clearfix {
  zoom: 1; }

.matsoo-img {
  border: solid 6.00001px rgba(255, 170, 204, 0.6);
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

.matsoo-msg, .matsoo-msg-success, .matsoo-msg-error {
  border: solid 3.0px rgba(255, 170, 204, 0.6);
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.matsoo-msg-success {
  border-color: lime; }

.matsoo-msg-error {
  border-color: red; }

ul.matsoo-bullet {
  padding-left: 0; }
  ul.matsoo-bullet li {
    margin-left: 30px;
    padding-left: 0;
    color: #ffaacc;
    font-family: Impact, Tahoma, Sans-Serif; }

.matsoo-padding {
  padding: 10px; }
