//
// @file
// Node styles.
//
// Path: sass\includes\04-node.scss
// Because node can be used in views and thus can appear in any region, this
// file is in the includes root folder.


@mixin node_default_ul($layout) {
  @if $layout == editor {
    html & {
      ul {
        padding: 0;

        li {
          background: url(../img/10-global/custom-bullet-romb.png) no-repeat 10px 3px;
          padding: 0 0 0 30px;
          margin: 14px 0;
        }

        ul,
        ol {
          padding-bottom: 0;
          margin-bottom: 0;
        }

        ul {
          padding-left: 7px;

          li {
            background-image: url(../img/10-global/kollane-bullet-small.png);
            background-position: 10px 4px;
          }

          // Third level (ul and ol).
          & {
            ul,
            ol {
              padding-left: 30px;

              li {
                background: none;
                padding-left: 0;
              }
            }

            ul {
              list-style-type: circle;
            }
          }
        }
      }
    }
  }
  @elseif $layout == global {
    .field-name-body {
      ul {
        padding: 0;

        li {
          background: url(../img/10-global/custom-bullet-romb.png) no-repeat 10px 3px;
          padding: 0 0 0 30px;
          margin: 14px 0;
        }

        ul,
        ol {
          padding-bottom: 0;
          margin-bottom: 0;
        }

        ul {
          padding-left: 7px;

          li {
            background-image: url(../img/10-global/kollane-bullet-small.png);
            background-position: 10px 4px;
          }

          // Third level (ul and ol).
          & {
            ul,
            ol {
              padding-left: 30px;

              li {
                background: none;
                padding-left: 0;
              }
            }

            ul {
              list-style-type: circle;
            }
          }
        }
      }
    }
  }
}




@if $layout == editor or
    $layout == global {
  .node {
    @include fontSize(14px);
    line-height: 130%;

    p,
    dl,
    ul,
    ol {
      margin: 0 0 18px;
    }

    ul,
    ol {
      list-style-position: outside;
      padding-left: 30px;
    }

    ol {
      list-style-type: decimal;
    }

    @include node_default_ul($layout);

    // BEGIN: A little fix for page /rss-feeds.
    #rsseses {
      margin-top: 10px;
    }

    input[name=rsseses] {
      height: 2.3em;
    }
    // END: A little fix for page /rss-feeds.

    dl dt,
    dl dt {
      font-weight: bold;
    }

    dl dd,
    dl dd {
      padding-left: 25px;
    }

    dd.content,
    dd.content {
      margin-left: 20px;
    }

    img,
    .image {
      margin: 8px 18px 18px 18px;
      max-width: 100%;

      .responsive-layout-mobile & {
        float: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
      }

      &[style*="float: left"] {
        margin-left: 0;
      }

      &[style*="float: right;"],
      .float-right {
        margin-right: 0;
      }
    }

    img {
      height: auto !important; // Shouldn this be global?
    }

    .image {
      background: #f9f8f5;
      box-shadow: -1px -1px 3px 0 rgba(0, 0, 0, 0.15);
      display: inline-block;

      .image-inner {
        display: block;
        padding: 10px;
      }

      img {
        margin: 0;
      }

      .caption {
        color: $color-text-main-blue;
        display: inline-block;
        font-family: $font_museo500;
        font-size: 12px;
        line-height: 15px;
        padding-top: 9px;
      }
    }

    p[style="text-align: center;"],
    p[style*="text-align: center;"] {
      .image,
      img {
        margin-left: auto;
        margin-right: auto;
      }
    }

    table {
      @extend %table-reset;

      &#extended-file-field-table-field-files {
        tbody td:first-child {
          font-weight: bold;
        }
      }

      color: #000000;
      font-size: 12px;
      line-height: 15px;

      tr {
        border-bottom: 1px solid #BBB;
      }

      thead {
        tr {
          border-width: 2px;
        }
      }

      th {
        color: #00668C;
        font-size: 11px;
      }

      th,
      td {
        background: url(../img/10-global/table-vertical-border.png) repeat-y 100% 0;
        padding: 8px 14px 5px 14px;

        &:last-child {
          background: none;
        }
        // IE8 support.
        &.last-child {
          background: none;
        }
      }

      &[border='0'] {
        thead tr,
        tr {
          border: 0;
        }

        th,
        td {
          background: none;
        }
      }

      .responsive-layout-mobile & {
        img {
          width: auto !important;
        }
      }
    }

    // File icon they didn't remove during migrate.
    .parent_link_info_data {
      display: inline-block;
      height: 1px;
      width: 4px;

      img {
        display: none;
      }
    }
  }

  .file > .image {
    @include image-class-reset;
  }

  //=== STATIC SHARED STYLES ===//
  .static {
    img {
      display: block;
      margin: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;

      li {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  // BEGIN: STYLES IN THE EDITOR BUTTONS
  .node-text-small {
    font-size: 85.714%;
  }

  .node-lead-default {
    font-family: $font_museo500;
    font-size: 18px;
    line-height: 1.22222222;
  }

  .node-lead-emphasized {
    color: $color-text-main-blue;
    font-family: $font_museo500;
    font-size: 18px;
    line-height: 1.22222222;
  }

  .node-text-color-red {
    color: $color-text-extra-red;
  }

  .node-text-color-blue {
    color: $color-text-main-blue;
  }

  // END: STYLES IN THE EDITOR BUTTONS
}



@if $layout == editor {
  .clearfix {
    @extend %clearfix;
  }

  .editor {
    margin: 15px;
    max-width: 960px;

    .wysiwyg-break {
      height: 12px !important;
      margin: 18px 0;
    }
  }

   //=== STATIC SHARED STYLES ===//
  .static {
    &,
    div {
      outline: 1px dotted gray;
    }
  }

  table[border='0'] {
    th,
    td {
      outline: 1px dotted gray;
    }
  }
}



@if $layout == high_contrast {
  .node {
    .field-name-body {
      ul {
        li {
          background-image: url(../img/10-global/custom-bullet-romb-high-contrast.png) !important;
        }

        ul {
          li {
            background-image: url(../img/10-global/kollane-bullet-small-high-contrast.png) !important;
          }
        }
      }
    }
  }
}
