


@if $layout == global {

  #zone-footer-wrapper {
    background: url(../img/40-desktop/body.png);
  }

  .block-simple-columns {
    display: none;
  }

}



@if $layout == default {

  #zone-footer-wrapper {
    background: none;
  }

  .block-simple-columns {
    display: block;
  }
}
