

@if $layout == editor or
    $layout == global {
  .static-footer {
    @extend %clearfix;
    background: url(../img/10-global/static-footer.png) repeat-x;
    //font-family: $font_trebuchetms;
    font-size: 11px;
    margin: 0 -20px; // Make width equal to content.
    padding: 17px 0 30px 0;
    text-align: center;

    .editor & {
      background-image: url(../img/40-desktop/body.png);
    }

    &,
    a {
      color: #999;
    }

    ul {
      direction: inline-block;

      li {
        display: inline-block;
        padding-left: 23px;

        &:first-child {
          padding-left: 0;
        }

        a {
          background-position: 0 50%;
          background-repeat: no-repeat;
          display: block;
          padding-left: 24px;

          &.rss {
            background-image: url(../img/10-global/static-footer-icon-rss.png);
          }

          &.twitter {
            background-image: url(../img/10-global/static-footer-icon-twitter.png);
          }

          &.fb {
            background-image: url(../img/10-global/static-footer-icon-fb.png);
          }

          &.video {
            background-image: url(../img/10-global/static-footer-icon-video.png);
          }

          &.newsletter {
            background-image: url(../img/10-global/static-footer-icon-newsletter.png);
          }
        }
      }

      ul {
        padding-left: 40px;
        padding-right: 40px;

        li {
          line-height: 8px;
          padding-left: 12px;

          a {
            border-left: 1px solid #fff;
            padding-left: 11px;
          }

          &:first-child {
          a {
              border: 0;
            }
          }
        }
      }
    }
  }
}


@if $layout == default {
  .static-footer {
    ul {
      li {
        a:focus,
        a:hover {
          color: #fff;
        }
      }
    }
  }
}


@if $layout == tablet {
  .static-footer {
    ul {
      li {
        padding-left: 10px;
      }
    }
  }
}
