@import '../../../bourbon/bourbon';
@import '../../../variables.scss';  // Get column count from here

%grid-base {
  display: inline;
  float: left;
  position: relative;
  margin-left: $gw-gutter-tablet/2;
  margin-right: $gw-gutter-tablet/2;
}

@mixin grid($columns) {
  @extend %grid-base;
  width: $columns * $gw-column-tablet + $columns * $gw-gutter-tablet - $gw-gutter-tablet;
}

@mixin prefix($columns) {
  padding-left: $columns * $gw-column-tablet + $columns * $gw-gutter-tablet;
}

@mixin suffix($columns) {
  padding-right: $columns * $gw-column-tablet + $columns * $gw-gutter-tablet;
}

@mixin pull($columns) {
  margin-left: $columns * $gw-column-tablet + $columns * $gw-gutter-tablet * -1;
}

@mixin push($columns) {
  margin-left: $columns * $gw-column-tablet + $columns * $gw-gutter-tablet;;
}

body {
  min-width: $gw-count * $gw-column-tablet + $gw-count * $gw-gutter-tablet;
}

.container-#{$gw-count} {
  margin-left: auto;
  margin-right: auto;
  width: $gw-count * $gw-column-tablet + $gw-count * $gw-gutter-tablet;
  $i: 1;
  @while $i < $gw-count + 1 {
    .grid-#{$i} {
      @include grid($i);
    }
    .prefix-#{$i} {
      @include prefix($i);
    }
    .suffix-#{$i} {
      @include suffix($i);
    }
    .pull-#{$i} {
      @include pull($i);
    }
    .push-#{$i} {
      @include push($i);
    }
    $i: $i + 1;
  }
}

.container-12 {
  @include clearfix;
}

/* Hacks */
body {
  min-width: $gw-count * $gw-column-tablet + $gw-count * $gw-gutter-tablet - $gw-gutter-tablet;
}

.container-12 {
  width: $gw-count * $gw-column-tablet + $gw-count * $gw-gutter-tablet - $gw-gutter-tablet;

  .grid-1:first-child,
  .grid-2:first-child,
  .grid-3:first-child,
  .grid-4:first-child,
  .grid-5:first-child,
  .grid-6:first-child,
  .grid-7:first-child,
  .grid-8:first-child,
  .grid-9:first-child,
  .grid-10:first-child,
  .grid-11:first-child,
  .grid-12:first-child {
    margin-left: 0;
  }

  .grid-1:last-child,
  .grid-2:last-child,
  .grid-3:last-child,
  .grid-4:last-child,
  .grid-5:last-child,
  .grid-6:last-child,
  .grid-7:last-child,
  .grid-8:last-child,
  .grid-9:last-child,
  .grid-10:last-child,
  .grid-11:last-child,
  .grid-12:last-child {
    margin-right: 0;
  }

  .grid-12 {
    margin-left: $gw-gutter-tablet/2;
    margin-right: $gw-gutter-tablet/2;
    width: $gw-count * $gw-column-tablet + $gw-count * $gw-gutter-tablet - $gw-gutter-tablet;
  }
}

.container-12 .container-12 {
  width: 100%;
  margin-left: -1%;
  margin-right: -1%;

  $i: 1;
  @while $i < $gw-count + 1 {
    .grid-#{$i} {
      margin-left: 1%;
      margin-right: 1%;
    }
    $i: $i + 1;
  }

  // Got the grids from http://grids.heroku.com/fluid_grid?column_amount=12.

  .grid-1 {
    width:6.333%;
  }

  .grid-2 {
    width:14.667%;
  }

  .grid-3 {
    width:23.0%;
  }

  .grid-4 {
    width:31.333%;
  }

  .grid-5 {
    width:39.667%;
  }

  .grid-6 {
    width:48.0%;
  }

  .grid-7 {
    width:56.333%;
  }

  .grid-8 {
    width:64.667%;
  }

  .grid-9 {
    width:73.0%;
  }

  .grid-10 {
    width:81.333%;
  }

  .grid-11 {
    width:89.667%;
  }

  .grid-12 {
    width:98.0%;
  }
}
