


@if $layout == global {
  .view-display-id-subjects_block {
    ul {
      @extend %list-reset;

      li {
        background: url(../img/10-global/link-arrow-on-light-bg2.png) no-repeat 3px 0.6em;
        margin: 0;
        padding: 2px 0 2px 16px;
      }
    }

    a {
      color: $color-text;

      &:hover {
        color: $color-text-main-blue;
      }
    }
  }
}
