
@if $layout == global {
  .zone-portal-navigation-wrapper {
    .block-vp-core-accessibility-help-link {
      display: none;
    }
  }
}

@if $layout == desktop {
  .zone-portal-navigation-wrapper {
    .block-vp-core-accessibility-help-link {
      $width: 150px;

      display: block;
      left: 50%;
      margin-left: -($width/2);
      padding-top: 8px;
      position: absolute;
      text-align: center;
      width: $width;
      z-index: 1;

      .accessibility-link {
        background: url(../img/40-desktop/accessibility.png) no-repeat 0 50%;
        display: inline-block;
        padding-left: 21px;
      }
    }
  }
}
