#country-representations-warning div {
  margin-top: 0px; }

.view-country-and-representations .view-content {
  margin-left: -10px; }

.country-list-wrapper {
  display: inline-block;
  width: 222px;
  margin-left: 10px; }

#country_representations_goto_letter {
  margin-left: 10px; }
  #country_representations_goto_letter a {
    display: inline;
    margin-bottom: 0px; }

.view-id-country_and_representations_er .views-row-1 {
  margin-right: 20px;
  margin-bottom: 20px; }

.view-country-and-representations-er .views-row,
.view-country-and-representations-eh .views-row {
  width: 250px; }

.view-mode-country_representations_fr .field-collection-view {
  float: left; }


/* Lisan VM stiilid, mis olid vp-theme-vp-theme-default.css failis. mm. */
body.vm .node .layout-3 .main {
  margin-right: 20px; }
  
body.vm .static-mainmenu-popup .widget-menu li {
  margin: 0;}

body.vm .static-mainmenu-popup .widget-text img.white-bg {
    padding: 2px;
    background: #FFFFFF;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px #524E4E;
    box-shadow: 1px 1px 1px #524E4E; }  
  
body.vm .static-mainmenu-popup .grid-custom-1 {
  width: 405px; }
body.vm .static-mainmenu-popup .grid-custom-2 {
  width: 280px; }
body.vm .static-mainmenu-popup .grid-custom-3 {
  width: 295px; }
body.vm .static-mainmenu-popup .grid-custom-4 {
  width: 350px; }
body.vm .static-mainmenu-popup .special li:last-of-type {
  padding-top: 20px;
  background: url(../img/10-global/mainmenu-popup-item-border.png) repeat-x 100% 100%; }
body.vm .static-mainmenu-popup .special li:first-of-type:last-of-type {
  padding-top: 6px; }
body.vm .static-mainmenu-popup .special-2 li:first-of-type {
  margin-bottom: 20px;
  background: url(../img/10-global/mainmenu-popup-item-border.png) repeat-x 100% 100%; }
body.vm .static-mainmenu-popup .spacer {
  padding-top: 20px; }
body.vm .static-mainmenu-popup .spacer-2 {
  display: block;
  padding-top: 6px; }
body.vm .static-mainmenu-popup .spacer-3 {
  display: block;
  margin-top: 30px; }
body.vm .static-mainmenu-popup .spacer-double {
  padding-top: 57px; }
body.vm .static-mainmenu-popup .block-link {
  display: block;
  margin-bottom: 25px; }
body.vm .static-mainmenu-popup .link-graphics {
  padding-left: 40px;
  margin-bottom: 15px; }
body.vm .static-mainmenu-popup .link-graphics a {
    color: #b8b8b3; }
body.vm .static-mainmenu-popup #public-participation {
  background: url(../img/foreign-affairs-menu-images/public-participation.png) no-repeat 0%;
  margin-top: 42px; }
body.vm .static-mainmenu-popup #decisions {
  background: url(../img/foreign-affairs-menu-images/decisions.png) no-repeat 0%; }
body.vm .static-mainmenu-popup #financing {
  background: url(../img/foreign-affairs-menu-images/financing.png) no-repeat 0%; }
body.vm .static-mainmenu-popup #menu-newsletter {
  height: 27px;
  margin-top: 20px;
  background: url(../img/foreign-affairs-menu-images/newsletter.png) no-repeat 0%; }
body.vm .static-mainmenu-popup #menu-newsletter.link-graphics {
  padding-left: 35px; }
body.vm .static-mainmenu-popup #menu-newsletter.link-graphics a {
    color: #ffcc00; }
body.vm .static-mainmenu-popup .menu-news-container .menu-content-wrap {
  float: left;
  width: 250px;
  margin-left: 20px;
  margin-top: -2px; }
body.vm .static-mainmenu-popup .menu-news-container img {
  float: left;
  height: 108px;
  width: 112px;
  padding: 2px;
  background: #FFFFFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px #524E4E;
  box-shadow: 1px 1px 1px #524E4E; }
body.vm .static-mainmenu-popup .menu-news-container h3 {
  color: #FFFFFF; }
 
body.vm .view-display-id-weekly_schedule_page .views-table-wrapper {
  padding: 32px 40px 18px 40px; }
body.vm .view-display-id-weekly_schedule_page .views-table-wrapper .views-field-field-weekly-schedule-date {
    width: 135px; }
    